#Registration .box {
    width: 500px;
    margin: auto;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

#Registration .box h4,
i{
    color: var(--main-color);
}

#Filtration{
    width: 300px;
    margin: auto;
}

